Repository bluecatengineering/limani: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_product_version, check_building_product, limani

Path conditions:
  check_product_version: any of: src/**/*, less/**/*, package.json
  check_building_product: any of: src/**/*, package.json
  limani: any of: src/**/*

chore: update README file with new values and add contributors section (ENG-52725)
  README.md
Due: none

chore: fix prettier (ENG-52725)
  README.md
Due: none

chore: implement stylelint check on the code (ENG-52937)
  .github/workflows/stylelint.yaml
Due: none

chore: change broken change
  src/components/Card.less
Due: check_product_version, check_building_product, limani

chore: fix broken change (ENG-52937)
  src/components/Card.less
Due: check_product_version, check_building_product, limani

chore: update message (ENG-52725)
  README.md
Due: none

chore: add dependabot package version update workflow that runs weekly (ENG-50801)
  .github/dependabot.yml
Due: none

chore: add dependabot package version update (ENG-50801)
  .github/dependabot.yml
Due: none

chore: add storybook publishing to github pages in a workflow (ENG-50804)
  .github/workflows/storybook-publish.yaml
Due: none

chore: capitalize the word storybook (ENG-50804)
  .github/workflows/storybook-publish.yaml
Due: none

chore: add Storybook building and publishing to GitHub pages (ENG-50804)
  .github/workflows/storybook-publish.yaml
Due: none

chore: do a task
  temp
Due: none

ci: add ci/cd variables for coverity stage (ENG-54181)
  .gitlab-ci.yml
Due: none

ci: run Coverity scan on Limani and publish results to coverity (ENG-54181)
  .gitlab-ci.yml
Due: none

ci: add blackduck scan (ENG-54182)
  .gitlab-ci.yml
Due: none

ci: switch to debian image (ENG-54182)
  .gitlab-ci.yml
Due: none

ci: run BlackDuck scan on Limani and publish results to BlackDuck server (ENG-54182)
  .gitlab-ci.yml
Due: none

build: make npm install prepare to work with instal from github repo URL (ENG-0000)
  package.json
Due: check_product_version, check_building_product

change
  package.json
Due: check_product_version, check_building_product

Change for test
  src/header/HeaderBAM.js
Due: check_product_version, check_building_product, limani

chore: build the package when installing from github URL (ENG-55132)
  package.json
Due: check_product_version, check_building_product

chore: ignore dist folder when running eslint (ENG-55132)
  .eslintrc.js
Due: none

chore: build the package when installing from github URL (ENG-55132)
  .eslintrc.js
  package.json
Due: check_product_version, check_building_product

feat: add view logs to HeaderSystemMenu (ENG-55440)
  src/header/HeaderSystemMenu.js
Due: check_product_version, check_building_product, limani

feat: change view logs target (ENG-55440)
  src/header/HeaderSystemMenu.js
Due: check_product_version, check_building_product, limani

feat: add tests (ENG-55440)
  __tests__/components/HeaderSystemMenu.test.js
  src/l10n/en.po
  src/l10n/zz.po
Due: check_product_version, check_building_product, limani

feat: update storybook (ENG-55440)
  stories/Header.stories.js
  stories/HeaderSystemMenu.stories.js
  stories/SimplePage.stories.js
Due: none

fix: fix typo (ENG-55440)
  src/l10n/zz.po
Due: check_product_version, check_building_product, limani

docs(readme): update README (ENG-55573)
  README.md
  package-lock.json
  package.json
Due: check_product_version, check_building_product
