Repository bluecatengineering/limani: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_product_version, check_building_product, limani

Path conditions:
  check_product_version: any of: src/**/*, less/**/*, package.json
  check_building_product: any of: src/**/*, package.json
  limani: any of: src/**/*

fix: make page title part of the scrolled content of the page (#2) (ENG-48297)
  package-lock.json
  package.json
  src/components/FormButtons.less
  src/components/FormLayout.less
  src/pageLayout/PageContent.js
  src/pageLayout/PageContent.less
Due: check_product_version, check_building_product, limani

chore: add commit-and-tag-version cli tool (ENG-50809)
  package-lock.json
  package.json
Due: check_product_version, check_building_product

chore: add basic testing workflow (ENG-50795)
  .github/workflows/jest_tests.yml
Due: none

chore: separate node setup and node packages install (ENG-50795)
  .github/workflows/jest_tests.yml
Due: none

chore: change pull request trigger types (ENG-50795)
  .github/workflows/jest_tests.yml
Due: none

chore: test failing test behaviour (ENG-50795)
  __tests__/components/Card.test.js
Due: none

chore: reformat workflow and revert intentional test fail (ENG-50795)
  .github/workflows/jest_tests.yml
  __tests__/components/Card.test.js
Due: none

chore: update node version (ENG-50795)
  .github/workflows/jest_tests.yml
Due: none

chore: change wf name, runner description, action sha (ENG-50795)
  .github/workflows/jest.yml
Due: none

chore: change names (ENG-50795)
  .github/workflows/jest.yml
Due: none

chore: npm ci (ENG-50795)
  .github/workflows/jest.yml
Due: none

chore: intentional test fail (ENG-50795)
  __tests__/components/Card.test.js
Due: none

chore: revert intentional test fail (ENG-50795)
  __tests__/components/Card.test.js
Due: none

chore: implement the pipeline workflow to run JEST test cases (ENG-50795)
  .github/workflows/jest.yml
Due: none

chore: implement github workflow to run ESLint on the code (ENG-50796)
  .github/workflows/eslint.yaml
  package.json
Due: check_product_version, check_building_product

chore: test git credentials (ENG-0000)
  src/error/Error.js
Due: check_product_version, check_building_product, limani

chore: add prettier workflow (ENG-52936)
  .github/workflows/prettier.yml
  package.json
Due: check_product_version, check_building_product

chore: automate Versioning and ChangeLog creation (ENG-50809)
  package-lock.json
  package.json
Due: check_product_version, check_building_product

chore: test pipeline prettier version (ENG-52936)
  .github/workflows/prettier.yml
Due: none

chore: change environment to macOS (ENG-52936)
  .github/workflows/prettier.yml
Due: none

chore: change to YAML (ENG-52936)
  .github/workflows/prettier.yaml
Due: none

chore: debug (ENG-52936)
  .github/workflows/prettier.yaml
Due: none

chore: try npm install (ENG-52936)
  .github/workflows/prettier.yaml
Due: none

chore: ignore (ENG-52936)
  .github/workflows/prettier.yaml
  .prettierignore
Due: none

chore: revert redundant changes (ENG-52936)
  .github/workflows/prettier.yml
Due: none

chore: implement commitlint check on pull request title (ENG-52940)
  .github/workflows/commitlint.yaml
Due: none

chore: implement pipeline workflow for running prettier on code (ENG-52936)
  .github/workflows/prettier.yml
  .prettierignore
  package.json
Due: check_product_version, check_building_product

chore: fix prettier issue (ENG-52940)
  .github/workflows/commitlint.yaml
Due: none

chore: fix commitlint run issue (ENG-52940)
  .github/workflows/commitlint.yaml
Due: none

chore: change workflow name (ENG-52940)
  .github/workflows/commitlint.yaml
Due: none

chore: implment commitlint check on commit messages (ENG-52938)
  .github/workflows/commitlint-pull-request.yaml
  .github/workflows/commitlint-push-request.yaml
Due: none

chore: implement commitlint check on push request commit message (ENG-52938)
  .github/workflows/commitlint-pull-request.yaml
  .github/workflows/commitlint-push-request.yaml
Due: none

chore: implement coverage for code (ENG-50810)
  .gitignore
  .prettierignore
  jest.config.js
  package.json
Due: check_product_version, check_building_product

chore: implement code coverage check (ENG-50810)
  .github/workflows/jest.yml
  .gitignore
  .prettierignore
  jest.config.js
  package.json
Due: check_product_version, check_building_product

chore: change (ENG-50810)
  jest.config.js
Due: none

chore: revert test change (ENG-50810)
  jest.config.js
Due: none
